<template>
	<div id="addQuote">
		<h2>Add quote</h2>
	
		<form id="quoteForm" @submit.prevent="addQuote">
			<textarea placeholder="enter your quote" id="input"></textarea>
			<button class="add-quote" type="submit">Add quote</button>
		</form>
	</div>
</template>

<script>
	export default {
		props: ['quotesList'],
		methods: {
			addQuote() {
				
				const textarea = document.getElementById('input');
				const input = textarea.value;
				if(this.quotesList.length < 10 && input.length > 0) {					
					// this.quotesList.push(input);
					this.$emit('newQuoteAdded', input);
				} else if(this.quotesList.length >= 10) {
					alert('You reached quotes limit');
				}
				textarea.value = '';
				textarea.focus();
			}
		}
	}
</script>

<style scoped>
	textarea {
		display: block;
		width: 100%;
		height: 200px;
		font-size: 25px;
		margin-bottom: 50px;
	}
	.add-quote {
		background-color: #3B5998;
		border: none;
		border-radius: 25px;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		height: 50px;
		width: 200px;
		display: block;
		margin: 50px auto;
		outline: none;
		cursor: pointer;
	}
</style>