<template>
	<div id="quotes">
		<blockquote class="quote" v-for="(quote, index) in quotesList" @click="removeQuote(index)">
			{{ quote }}
		</blockquote>
	</div>
</template>

<script>
	export default {
		props: ['quotesList'],
		methods: {
			removeQuote(index) {
				this.$emit('quoteDeleted', index);
			}
		}
	}
</script>

<style scoped>
	#quotes {
		display: flex;
		flex-wrap: wrap;
	}
	.quote {
		box-shadow: 0 0 10px #999;
		padding: 20px;
		margin: 20px;
	}
</style>