<template>
	<div id="quotesBar">
		<div class="bar" :style="{ width:updateQuotesCount + '0%' }">
			
		</div>
		<span class="quotesCount">
			{{ updateQuotesCount }} / 10
		</span>
	</div>
</template>

<script>
	export default {
		props: ['quotesList'],
		computed: {
			updateQuotesCount() {
				return this.quotesList.length;
			}
		}
	}
</script>

<style scoped>
	#quotesBar {
		background-color: #999;
		width: 100%;
		border-radius: 20px;
		margin: auto;
		text-align: center;
		height: 30px;
		line-height: 30px;
		position: relative;
		overflow: hidden;
	}
	.bar {
		background-color: #3B5998;
		height: 100%;
		border-radius: 25px 0 0 25px;
		transition: .3s width;
	}
	.quotesCount {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		margin: auto;
	}
</style>