<template>
  <div id="app">
	<h1>Quotes Website</h1>
    <quotes-bar :quotesList="quotesList"></quotes-bar>
	<add-quote :quotesList="quotesList" @newQuoteAdded="addQuote"></add-quote>
	<quotes-field :quotesList="quotesList" @quoteDeleted="removeQuote"></quotes-field>
	<p class="info">Info: click on a quote to delete it</p>
  </div>
</template>

<script>
	import QuotesBar from './components/QuotesBar.vue';
	import QuoteInput from './components/QuoteInput.vue';
	import Quotes from './components/Quotes.vue';

	export default {
		data() {
			return {
				quotesList: []
			}
		},
		components: {
			'quotes-bar': QuotesBar,
			'add-quote': QuoteInput,
			'quotes-field': Quotes
		},
		methods: {
			addQuote(quote) {
				this.quotesList.push(quote);
			},
			removeQuote(quote) {
				this.quotesList.splice(quote, 1);
			}
		}
	}
</script>

<style scoped>
	#app {
		width: 100%;
		max-width: 900px;
		margin: auto;
	}
	.info {
		background-color: lightblue;
		border-radius: 20px;
		padding: 25px;
		text-align: center;
		font-weight: bold;
	}
</style>
